/.idea
/node_modules
/public/css
/public/fonts
/public/images
/public/js
/public/storage
/public/temp
/public/uploads
/public/vendor
/storage/*.key
/vendor
agilex.zip
storage.zip
.env
.env.backup
.phpunit.result.cache
webpack.mix.js
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
